@*ESTE SERÁ NUESTRO NUEVO COMPONENTE*@

<h1>@Title</h1>

@code {
	[Parameter] 
	[EditorRequired]//no solo es un parametro, sino que tambies es requerido para q funcione
	public string Title{ get; set; }
}
