@page "/"

<PageTitle>Index</PageTitle>

@* <h1>Hello, world Platzi!</h1>*@

<ModuleTitle Title="Hello, world Platzi!"></ModuleTitle>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
